# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
*.jar

# Package Files #
*.jar
*.war
*.ear

# Maven target folder
target/

# STS #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr

# NetBeans #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code #
.vscode/

# Spring Boot #
mvnw
mvnw.cmd
HELP.md
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/application.properties
!**/src/main/resources/application-dev.properties
!**/src/main/resources/application-prod.properties
!/mvnw
!/mvnw.cmd
!/.mvn/wrapper/maven-wrapper.jar

# Meilisearch #
/data.ms/

# Meilisearch Java client
/.meilisearch/

# Ignore the 'js' folder and all its files
js/

# For password of DB
**/application-prod.properties
**/application-dev.properties

# JWT
/src/main/resources/jwt/
